<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reverse Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Original Text has {{words}} words!</h1>
        <h2><i>{{usertext}}</i></h2>
        <h1>Reversed Text</h1>
        <h2><i>{{reversedtext}}</i></h2>
        <script src="" async defer></script>
    </body>
</html>